<section>
  <div class="section">
    <div class="layer">
      <div class="container">
        <div class="row">

          <div class="col-xl-6 col-md-6 col-l-12">
            <div class="text">
              <div>
                <h2>اشتري الان <br> سيارة احلامك من هنا <br>بسهولة و أمان</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscingelit Nullam erat tellus, pharetr .</p>
              </div>

            </div>

          </div>
          <div class="col-xl-6 col-md-6 col-l-12">
            <div class="formcontainer">


              <div class="form">

                                    <h2>انشاء حساب  </h2>
                                    <Form>
                                        <div class="input-container">
                                            <i class="fa-solid fa-user icon"></i>
                                            <input type="text" placeholder="الحساب الخاص بك">
                                        </div>
                                        <div class="input-container">
                                            <i class="fa-solid fa-user icon"></i>
                                            <input type="text" placeholder=" الاسم الاول ">
                                        </div>
                                        <div class="input-container">
                                            <i class="fa-solid fa-user icon"></i>
                                            <input type="text" placeholder=" الاسم الثاني ">
                                        </div>
                                        <div class="input-container">
                                            <i class="fa-solid fa-phone  icon"></i>
                                            <input type="text" placeholder=" الهاتف ">
                                        </div>
                                        <div class="input-container">
                                            <i class="fa-solid fa-unlock icon"></i>
                                            <input type="text" placeholder="كلمة المرور ">
                                        </div>
                                        <div class="input-container">
                                            <i class="fa-solid fa-unlock icon"></i>
                                            <input type="text" placeholder="اعادة كلمة المرور ">
                                        </div>
                                        <div class="roleCollection">
                                            <label (click)="changeStatusOk()"[ngClass]="{available:okstatus}" for="Admin" class="role  ">
                                              <input class="d-none"type="radio" formControlName="condition" id="Admin" value="Admin">
                                              رئيس
                                            </label>
                                            <label  (click)="changeStatusUn()"[ngClass]="{unavailable:Unstatus}"for="employer" class="role unavailable">
                                              <input class="d-none" type="radio" formControlName="condition"id='Admin' value="employer">
                                              موظف
                                            </label>


                <h2>انشاء حساب </h2>
                <Form>
                  <div class="input-container">
                    <i class="fa-solid fa-user icon"></i>
                    <input type="text" placeholder="الحساب الخاص بك">
                  </div>
                  <div class="input-container">
                    <i class="fa-solid fa-unlock icon"></i>
                    <input type="text" placeholder="كلمة المرور ">
                  </div>
                  <div class="input-container">
                    <i class="fa-solid fa-unlock icon"></i>
                    <input type="text" placeholder="اعادة كلمة المرور ">
                  </div>
                  <div class="roleCollection">
                    <label (click)="changeStatusOk()" [ngClass]="{available:okstatus}" for="Admin" class="role  ">
                      <input class="d-none" type="radio" formControlName="condition" id="Admin" value="Admin">
                      رئيس
                    </label>
                    <label (click)="changeStatusUn()" [ngClass]="{unavailable:Unstatus}" for="employer"
                      class="role unavailable">
                      <input class="d-none" type="radio" formControlName="condition" id='Admin' value="employer">
                      موظف
                    </label>

                  </div>

                  <div class="btn">
                    <button> تسجيل </button>
                    <button>رفض </button>

                  </div>

                </Form>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
